@tailwind base;
@tailwind components;
@tailwind utilities;


#app {  
  margin: 0 auto;
  font-weight: normal;
}

.error{
  @apply text-red-500 text-center m-0 h-3 p-2}

body {
  min-height: 100vh;
  min-width: 100vw;
  
  background-color: theme('colors.light-bg');
  color: theme('colors.text-light');
}

a {
  color: theme('colors.light-purple');
  text-decoration: none;
}


body.dark {
  background-color: theme('colors.dark-bg');
  color: theme('colors.text-dark');
}

label{
  text-align: start;
}


a.dark {
  color: theme('colors.dark-purple');
}
.color{
  @apply bg-light-purple
}
body.dark .color {
  @apply  bg-dark-purple
}
body.dark hr{
  @apply border-dark-purple
}

.input-custom {
  @apply w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-light-purple focus:border-light-purple transition duration-200;
}





.header{
  @apply w-full  mt-0 bg-light-bg border-b-4  border-b-light-purple flex h-14  justify-around align-middle  
  
}
body.dark .header {
  @apply dark:bg-dark-bg border-b-dark-purple
}


.btn {
  @apply bg-light-purple text-white rounded-lg px-4 py-2 cursor-pointer transition-colors duration-300 ease-in-out ;
}
.card{
  @apply dark:bg-dark-bg text-text-dark  bg-light-bg border-b-4  border-b-light-purple
}
body.dark .card {
  @apply dark:bg-light-bg text-text-light border-b-dark-purple
}


.btn:hover {
  @apply bg-dark-purple;
}


body.dark .btn {
  @apply bg-dark-purple text-text-dark;
}

body.dark .btn:hover {
  @apply bg-light-purple;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: inherit;
}


a {
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.light-purple');
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.dark-purple');
}

